<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start" color="primary">Cardit</ion-title>
    <ion-chip slot="end" color="primary" (click)="addCard()">Add Card</ion-chip>
    <ion-chip slot="end" color="primary" (click)="clearCards()">log Out</ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-card *ngFor="let card of cards ; let i = index" style="object-fit: cover;background-repeat:no-repeat;background-size:100%;width: 100%; height: 30%;" [ngStyle]="{ 'background-image': 'url(' + merchants[i].ImagePath + ')'}">
      <ion-card-title>
        <ion-toolbar>
          {{merchants[i].Name}}
          <p style="padding-right: 25px;" color="dark" slot="end">{{card.CardNumber}}</p>
        </ion-toolbar>
      </ion-card-title>
      <ion-row class="card-footer">
        <ion-col>
            <ion-button size="small" color="primary" href="https://{{merchants[i].Website}}"><ion-icon name="globe-outline"></ion-icon></ion-button>
            <ion-button size="small" color="primary"  (click)="encodeText(card.CardNumber)"><ion-icon name="information-circle-outline"></ion-icon></ion-button>
            <ion-button size="small" color="primary" (click)="goToEdit(card.Id)"><ion-icon name="create-outline"></ion-icon></ion-button>
            <ion-button size="small" color="primary" (click)="presentModal(card.Id)"><ion-icon name="close-outline"></ion-icon></ion-button>   
        </ion-col>
      </ion-row>
  </ion-card>
</ion-content>
